<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tableView.css">
    <link rel="stylesheet" href="customerPopUp.css">
</head>
<body>
    <div class="container">
        <table id="table">
            <tr>
                <th>کد درخواست</th>
                <th>موضوع</th>
                <th>توضیح</th>
                <th>تاریخ</th>
            </tr>
        </table>
    </div>
<script type="module" defer src="adminViewSupportRequests.js"></script>
</body>
</html>
