<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tableView.css">
</head>
<body>
    <div class="container">
        <table id="table">
            <tr>
                <th>نام رستوران</th>
                <th>شهر</th>
                <th>آدرس</th>
                <th>نام مدیر</th>
                <th>نام خانوادگی مدیر</th>
                <th>تلفن</th>
                <th>موجودی</th>
                <th>شماره شبا</th>
            </tr>
        </table>
    </div>
<script type="module" defer src="adminViewRestaurants.js"></script>
</body>
</html>