<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="tableView.css">
</head>
<body>
<div class="container">
    <table id="table">
        <tr>
            <th>نام</th>
            <th>نام خانوادگی</th>
            <th>موبایل</th>
            <th>شهر</th>
            <th>موجودی</th>
            <th>شماره شبا</th>
        </tr>
    </table>
    <script src="adminViewDeliverers.js" defer type="module"></script>
</div>
</body>
</html>