<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="tableView.css">
</head>
<body>
<div class="container">
    <table id="table">
        <tr>
            <th>کد سفارش</th>
            <th>مبلغ سفارش</th>
            <th>آدرس</th>
            <th>کد رستوران</th>
            <th>نام کاربری مشتری</th>
            <th>نحوه ارسال</th>
            <th>نام کاربری پیک</th>
            <th>هزینه پیک</th>
            <th>وضعیت</th>
        </tr>
    </table>
</div>
<script src="adminOrderStats.js" defer type="module"></script>
</body>
</html>