<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="tableView.css">
</head>
<body>
<div class="container">
    <div class="">
        <label for="successful">موفق ها</label>
        <input type="radio" id="successful" name="category">
    </div>
    <div class="">
        <label for="unsuccessful">ناموفق ها</label>
        <input type="radio" id="unsuccessful" name="category">
    </div>
</div>
<div class="container">
    <table id="table">
        <tr>
            <th>شماره رسید</th>
            <th>مبلغ</th>
            <th>شماره شبا</th>
            <th>تاریخ</th>
        </tr>
    </table>
</div>
<script src="adminViewReceipts.js" defer type="module"></script>
</body>
</html>