<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="itemView.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body>
<div class="container">
    <div class="component" id="header">
        <h1>رستوران ها</h1>
    </div>
    <div class="component" id="searchBox">
        <div>
            <input type="text" placeholder="شهر موردنظر را وارد کنید..." id="city">
            <button id="search">
                <span class="material-symbols-outlined">search</span>
            </button>
        </div>
    </div>
    <div class="component" id="restaurantBox">
    </div>
</div>
<script type="module" defer src="customerViewRestaurants.js"></script>
</body>
</html>