<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tableView.css">
    <link rel="stylesheet" href="customerPopUp.css">
</head>
<body>
<div class="container">
    <table id="table">
        <tr>
            <th>غذاها</th>
            <th>کد سفارش</th>
            <th>رستوران</th>
            <th>آدرس</th>
            <th>مبلغ کل</th>
            <th>نام پیک</th>
            <th>موبایل پیک</th>
            <th>وضعیت</th>
        </tr>
        <!--dynamic!-->
    </table>
</div>

<script type="module" defer src="customerViewOrders.js"></script>
</body>
</html>