<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ثبت نام مشتری</title>
    <link rel="stylesheet" href="form.css">
</head>
<body>
  <div class="container">
    <div class="item">
      <label for="name">نام</label>
      <input type="text" id="name" class="input">
    </div>
    <div class="item">
      <label for="surName">نام خانوادگی</label>
      <input type="text" id="surName" class="input">
    </div>
    <div class="item">
      <label for="userName">نام کاربری</label>
      <input type="text" id="userName" class="input">
    </div>
    <div class="item">
      <label for="passWord">رمز عبور</label>
      <input type="password" id="passWord" class="input">
    </div>
    <div class="item">
      <label for="passWord">تکرار رمز عبور</label>
      <input type="password" id="repeatPassWord" class="input">
    </div>
    <div class="item">
      <label for="mobile">شماره موبایل</label>
      <input type="text" id="mobile" class="input" maxlength="11">
    </div>
    <div class="item">
      <label>جنسیت</label>
      <div class="input" style="border: none">
        <label for="male">مذکر</label>
        <input type="radio" id="male" name="gender">
        <label for="female">مونث</label>
        <input type="radio" id="female" name="gender">
        <label for="other">سایر</label>
        <input type="radio" id="other" name="gender">
      </div>
    </div>
    <div class="button">
      <select id="city" style="width: 50%; padding: 5px">
        <option selected disabled>شهر را انتخاب کنید</option>
        <option>تبریز</option>
      </select>
    </div>
    <div class="item">
      <input type="checkbox" id="agree">
      <p style="color: white; font-size: 16px; font-weight: 800">
        <span onclick="window.open('http://localhost:8080/agreement', '_blank')" style="color: dodgerblue; font-weight: 900; cursor: pointer">قوانین سایت</span>  را مطالعه کرده ام و به طور کامل موافقت خود را تایید میکنم.
      </p>
    </div>
    <div class="button">
      <button id="submit">ثبت نام</button>
    </div>
  </div>
<script type="module" defer src="customerSignUp.js"></script>
</body>
</html>