<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="formView.css">
</head>
<body>
<div class="container">
    <div id="header" class="component">
        <h1>پروفایل</h1>
    </div>
    <div id="infoBox" class="component">
        <div class="item">
            <label>نام</label>
            <input type="text" id="name" disabled>
        </div>
        <div class="item">
            <label>نام خانوادگی</label>
            <input type="text" id="surName" disabled>
        </div>
        <div class="item">
            <label>نام کاربری</label>
            <input type="text" id="userName">
        </div>
        <div class="item">
            <label>رمز عبور</label>
            <input type="text" id="passWord">
        </div>
        <div class="item">
            <label>موبایل</label>
            <input type="text" id="phone">
        </div>
        <div class="item">
            <label>شهر</label>
            <input type="text" id="city">
        </div>
        <div class="item">
            <label>جنسیت</label>
            <input type="text" id="gender" disabled>
        </div>
        <div class="button">
            <button id="submit">ثبت ویرایش</button>
        </div>
    </div>
</div>

<script type="module" defer src="delivererViewProfile.js"></script>
</body>
</html>