<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>&#128523رستوران آنلاین بوقلمون</title>
    <link rel="stylesheet" href="homePage.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
</head>
<body id="body">
    <div class="container" id="header">
        <div class="item">
            <h1 id="title">رستوران آنلاین بوقلمون</h1>
            <img src="https://www.mahyashop.com/uploads/UserFiles/Images/Detail-Pics%2F%D8%A8%D9%88%D9%82%D9%84%D9%85%D9%88%D9%86%2FPRODUCT_turkey-03-02-03.png" id="logoImage">
        </div>
        <div class="item">
            <button class="headerBtn" id="connectToUsBtn">ارتباط با ما</button>
            <button class="headerBtn" id="logInBtn">ثبت نام/ ورود</button>
        </div>
    </div>
    <div class="container" id="ads">
        <h1 id="adContent">خوش آمدید</h1>
    </div>
    <div class="container" id="slider">
        <img id="sliderImage" src="https://files.virgool.io/upload/users/819387/posts/jnsa7hiptwsv/oxwzsczyrrq8.jpeg" alt="عکس">
    </div>

    <div class="title">
        <h1>رستوران های برتر</h1>
    </div>
    <div class="container" id="topRestaurants">
    </div>

    <div class="title">
        <h1>چرا بوقلمون؟</h1>
    </div>
    <div class="container" id="siteAttributes">
        <div class="circle">
            <h1 class="attributeTitle"><span class="material-symbols-outlined">electric_bolt</span>سه سوته سفارش بده</h1>
            <p class="attributeDescription">توی شکمو در کمترین زمان ممکن میتونی رستوران نزدیک خودتو پیدا کنی و سفارش بدی &#128526</p>
        </div>
        <div class="circle">
            <h1 class="attributeTitle"><span class="material-symbols-outlined">support_agent</span>پشتیبانی سریع</h1>
            <p class="attributeDescription">هر مشکلی که داشتی، از قسمت پشتیبانی میتونی جواب سوالتو بگیری &#128640</p>
        </div>
        <div class="circle">
            <h1 class="attributeTitle"><span class="material-symbols-outlined">card_membership</span>اشتراک های به صرفه</h1>
            <p class="attributeDescription">اشتراک های ما طوریه که با افزایش سقف سفارش اشتراک با تخفیف های توپ هم همراهه &#128563</p>
        </div>
        <div class="circle">
            <h1 class="attributeTitle"><span class="material-symbols-outlined">travel_explore</span>سامانه سراسری</h1>
            <p class="attributeDescription">هر کجای ایران عزیز که باشی میتونی از رستوران های اطرافت غذا سفارش بدی &#128147</p>
        </div>
    </div>
    <div class="container" id="discounts">
        <h1 id="discountTitle">منتظر چی هستی؟</h1>
        <p id="discountDescription">تو سایت بوقلمون ثبت نام کن و دیگه نگران مهمون یهویی نباش &#128525 &#128525 &#128525</p>
    </div>
    <div class="container" id="footer">
        <h1>درباره ما</h1>
        <p>ما هدفمون از طراحی و راه اندازی سایت بوقلمون، کم کردن فاصله بین شما و رستوران های شهرتونه تا بتونید از رستوران مورد علاقه تون، غذای مورد علاقتون رو سفارش بدید و لحظات خوبی رو پشت سر بزارین &#128525</p>
    </div>
<script type="module" defer src="homePage.js"></script>
</body>
</html>