<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="tableView.css">
    <link rel="stylesheet" href="customerPopUp.css">
</head>
<body>
    <div class="container">
        <table id="table">
            <tr>
                <th>لیست سفارش</th>
                <th>آدرس تحویل</th>
                <th>کد سفارش</th>
                <th>مبلغ سفارش</th>
                <th>نام پیک</th>
                <th>موبایل راننده</th>
                <th>وضعیت</th>
            </tr>
        </table>
    </div>
<script type="module" defer src="restaurantViewStatistics.js"></script>
</body>
</html>